<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- column -->    
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div fxLayout="row" fxLayoutWrap="wrap">
                    <!-- column -->
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
                        Welcome 
                        <br/><br/>
                    </div>
                </div>      
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->    
</div>
<div fxLayout="row">
    <div fxFlex.gt-sm="50%" >
        <mat-card>
            <mat-card-content>
              <mat-card-title>Thống kê </mat-card-title>
            </mat-card-content>        
        </mat-card>
    </div>
</div>