<div class="panel panel-default">
  <form id="formSearch" [formGroup]="formSearch">
    <div class="panel-heading">
      <strong class="text-u-c">
        <i class="fa fa-th"></i>
        <span> Thông tin tìm kiếm</span>
      </strong>
    </div>
    <div class="panel-body padding-xl ui-g">
      <div class="ui-g-12">
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">Mã</label>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <input class="form-control ng-pristine ng-invalid ng-touched" formControlName="userCode" maxlength="50"
            autofocus>
        </div>

        <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">Tên</label>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <input class="form-control ng-pristine ng-invalid ng-touched" formControlName="fullName" maxlength="200"
            autofocus>
        </div>
      </div>
    </div>
    <div class="panel-footer vt-area-button">
      <button type="submit" (click)="processSearch();" class="btn btn-sm btn-info"><i class="fa fa-search"></i> Tìm
        kiếm</button>
    </div>
  </form>
</div>
